@using Prueba_Myper.Models.DTO
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@model IEnumerable<Prueba_Myper.Models.DTO.TrabajadorVista>


@{
    ViewData["Title"] = "Lista de Trabajadores";
}

<h1>@ViewData["Title"]</h1>
<button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#modalCrearTrabajador">
    Registrar Trabajador
</button>

<table class="table">
    
    @{
        var sexoSeleccionado = HttpContextAccessor.HttpContext?.Request.Query["sexo"].ToString();
    }

    <form method="get" asp-controller="Trabajadores" asp-action="Index">
        <select name="sexo" class="form-select" onchange="this.form.submit()">
            <option value="">-- Todos --</option>
            <option value="M" selected="@(sexoSeleccionado == "M")">Masculino</option>
            <option value="F" selected="@(sexoSeleccionado == "F")">Femenino</option>
        </select>
    </form>
    <thead>
       

        <tr>
            <th>ID</th>
            <th>Tipo Documento</th>
            <th>Numero Documento</th>
            <th>Nombres</th>
            <th>Sexo</th>
            <th>Departamento</th>
            <th>Provincia</th>
            <th>Distrito</th>
            <th>Acción</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model)
        {
            <tr style="@((t.Sexo?.ToUpper() == "F") ? "background-color: pink;" :
                       (t.Sexo?.ToUpper() == "M") ? "background-color: lightblue;" : "")">
                <td>@t.Id</td>
                <td>@t.TipoDocumento</td>
                <td>@t.NumeroDocumento</td>
                <td>@t.Nombres</td>
                <td>@t.Sexo</td>
                <td>@t.NombreDepartamento</td>
                <td>@t.NombreProvincia</td>
                <td>@t.NombreDistrito</td>
                <td>
                    
                    <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#modalEliminar-@t.Id">
                        <span class="bi bi-trash"></span> Eliminar
                    </button>

                    <button type="button" class="btn btn-sm btn-warning"
                            data-bs-toggle="modal"
                            data-bs-target="#modalEditarTrabajador"
                            data-id="@t.Id"
                            data-tipodocumento="@t.TipoDocumento"
                            data-numerodocumento="@t.NumeroDocumento"
                            data-nombres="@t.Nombres"
                            data-sexo="@t.Sexo"
                            data-iddepartamento="@t.IdDepartamento"
                            data-idprovincia="@t.IdProvincia"
                            data-iddistrito="@t.IdDistrito">
                        <i class="bi bi-pencil-square"></i> Editar
                    </button>
                   
                </td>
            </tr>
            @await Html.PartialAsync("_ModalEliminarTrabajador", t)

            @await Html.PartialAsync("_ModalEditarTrabajador", ViewBag.Departamentos as List<DepartamentoDto>)




        }
    </tbody>
</table>

@await Html.PartialAsync("_ModalCrearTrabajor", (List<Prueba_Myper.Models.DTO.DepartamentoDto>)ViewBag.Departamentos)
@await Html.PartialAsync("_ModalMensaje")


<script src="~/js/site.js"></script>
